.dialogs {
    display: grid;
    grid-template-columns: 2fr 10fr;
    color: #043756;
}

.dialogsItems {
    padding: 10px;
    color:white
}

.dialogsItems .active {
    color: rgb(138, 7, 150);
}

.messages {
    padding: 10px;
}

.dialog {
    padding: 10px;
    color: black;
}